* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Circe', 'Arial', sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
p {
    margin-bottom: 0;
}
.header {
    padding: 20px 0;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
}
.logo {
    padding-left: 0;
}
.logo_img {
    width: 160px;
    height: 34px;
}
.menu, .logo {
    display: flex;
    align-items: center;
}
.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.nav-menu-item {
    padding: 0 15px;
}
.nav-menu-item:first-child {
    padding-left: 0;
}
.nav-menu-item:last-child {
    padding-right: 0;
}
.nav-menu_link {
    color: #262626;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    transition: .5s;
}
.nav-menu_link::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: relative;
    top: -5px;
    transition: .4s;
    opacity: 0;
}
.nav-menu_link:hover {
    color: #ffffff;
}
.nav-menu_link:hover::after {
    opacity: 1;
    top: 0;
}
.nav-menu_link._phone {
    font-size: 20px;
    text-decoration: none;
}
.nav-menu_link._phone::after {
    content: none;
}
.nav-menu_link._phone:hover {
    color: inherit;
    text-decoration: none;
}
.call_me {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.burger {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.burger-line {
    width: 30px;
    height: 3px;
    background: #262626;
    margin: .25rem 0;
    transition: .5s;
}
.burger.close-burger .burger-line:nth-of-type(1) {
    transform: translateY(.35rem) rotate(-45deg);
}
.burger.close-burger .burger-line:nth-of-type(2) {
    display: none;
}
.burger.close-burger .burger-line:nth-of-type(3) {
    transform: translateY(-.35rem) rotate(45deg);
}
.header-scroll {
    display:none;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
}
.scroll-menu {
    width: 100%;
    background-color: #ffffff;
    padding-top: 85px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -500px;
}
.scroll-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
}
.scroll-nav-item {
    margin-bottom: 15px;
    width: 100%;
    padding: 0 15px;
    text-align: center;
}
.scroll-nav-link {
    color: #262626;
    font-size: 18px;
    font-weight: 600;
    transition: .4s;
    display: block;
    width: 100%;
}
.scroll-nav-link:hover {
    color: #ff3333;
}
.scroll-nav-link._line::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #33cc33;
    position: relative;
    top: -5px;
    transition: .4s;
    opacity: 0;
}
.scroll-nav-link._line:hover::after {
    opacity: 1;
    top: 0;
}
.scroll-nav-link._phone {
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
    color: rgb(255, 51, 51);
}
.scroll-nav-link._mail{
    font-size: 16px;
    font-weight: 400;
    color: rgb(38, 38, 38);
}
.scroll-nav-item:last-of-type {
    font-size: 16px;
    font-weight: 400;
    width: auto;
}
.scroll-nav-item:last-of-type .scroll-nav-link {
    border-bottom: 1px solid rgb(255, 51, 51);
    color: rgb(255, 51, 51) !important;
    display: inline;
}
@media screen and (max-width:1216px) {
    .header {
        background-color: #ffffff;
    }
    .nav-menu {
        display: none;
    }
    .call_me button {
        display: none;
    }
    .burger {
        display: flex;
    }
    .logo {
        padding-left: 15px;
    }
}
.btn-red {
    color: #ffffff;
    background-color: #ff3333;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 30px;
    white-space: nowrap;
    transition: .5s;
    border: none;
    outline: none;
}
.btn-red:hover {
    background-color: #e82121;
    color: #ffffff;
}
.first-block {
    padding: 85px 0 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.logo-text {
    line-height: 1.85;
    margin-left: -15px;
}
.main-title {
    margin: 50px 0;
    margin-left: -15px;
}
.main-title p:first-of-type {
    font-size: 18px;
    line-height: 1.55;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.main-title p img {
    margin-right: 15px;
}
.main-title p:last-of-type {
    font-size: 22px;
    line-height: 1.95;
    font-weight: 400;
}
.main-title p:last-of-type span {
    font-size: 28px;
    line-height: 1.55;
    font-weight: 600;
}
.main-title h1 {
    font-size: 46px;
    line-height: 1.3;
    font-weight: 800;
    margin-bottom: 15px;
}
.first-block-buttons {
    margin-left: -15px;
}
.first-block-buttons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 74px;
    font-size: 16px;
    margin-right: 10px;
}
.first-block-buttons button {
    width: 320px;
    height: 74px;
    background-color: #ffffff;
    color: #262626;
    border-radius: 100px;
    line-height: 1.55;
    font-weight: 600;
    transition: .3s;
    border: none;
}
.first-block-buttons button:hover {
    background-color: #ff3333;
    color: #ffffff;
}
@media screen and (max-width:768px) {
    .first-block-buttons button {
        margin-top: 15px;
    }
    .first-block-buttons {
        margin-top: 15px;
        max-width: 330px;
    }
    .first-block-buttons a,
    .first-block-buttons button {
        width: 100%;
    }
}

h2 {
    font-size: 38px;
    line-height: 1.3;
    font-weight: 800;
}
div[role="tabpanel"] {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section:not(:nth-child(1)) {
    padding: 90px 0;
}
section.about_block {
    padding-bottom: 0;
}
section.about_block h2 {
    margin-bottom: 50px;
    margin-left: -15px;
}
.about_block .nav-tabs {
   border: none;
}
.about_block .nav-tabs .nav-link {
    color: #9e9e9e;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid #d1d1d1;
    padding-left: 0;
    padding-bottom: 20px;
    width: calc(100% / 3);
}
@media screen and (max-width:562px) {
    .about_block .nav-tabs {
        flex-direction: column;
        align-items: center;
    }
    .about_block .nav-tabs .nav-link {
        width: 100%;
        text-align: center;
    }
}
.about_block .nav-tabs .nav-link:hover {
    color: #ff3333;
}
.about_block  .nav-tabs .nav-link.active {
    color: #ff3333;
    font-weight: 600;
    border-bottom-color: #ff3333;
}
.about_block #nav-tabContent .container {
    padding: 65px 0;
}
.about-box {
    background-color: rgba(38, 38, 38,0.95);
    padding: 35px 40px;
    max-width: 800px;
}
#nav-profile .about-box {
    max-width: 660px;
}
#nav-contact .about-box {
    max-width: 600px;
    background-color: #ff3333;
}
.about-box h3 {
    color: #ffffff;
    font-size: 28px;
    line-height: 1.45;
    font-weight: 700;
    margin-bottom: 15px;
}
.about-item {
    margin-bottom: 15px;
}
.about-item .about_title {
    color: rgba(255, 255, 255, .7);
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
}
.about-item .about_text {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
}
.about-item .about_head {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 40px;
}
.about-item .car_text {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 300;
    margin-bottom: 25px;
}
.about-item .car_text img {
    margin-right: 20px;
}
.about-item .offer_text:first-of-type {
    margin-top: 10px;
}
.about-item .offer_text {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 15px;
}
.about-item .offer_text img {
    margin-right: 20px;
}
.about-box button {
    color: #ff3333;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 600;
    border-width: 1px;
    border-radius: 200px;
    background-color: #ffffff;
    width: 237px;
    height: 74px;
    border: none;
    margin-top: 25px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.about-box button:hover {
    background-color: #ffd1d1;
}
.advantages {
    background-color: #262626;
    color: #ffffff;
    padding: 90px 0;
}
.advantages-block {
    justify-content: space-between;
    margin-top: 40px;
}
.advantages-item {
    border-width: 1px;
    border-radius: 30px;
    background-position: center center;
    border-color: rgba(255, 255, 255, 0.3);
    border-style: solid;
    padding: 30px;
    max-width: 366px;
    margin-bottom: 30px;
}
.advantages-item:nth-child(2n) {
    background-color: #3C3C3C;
    border: none;
}
@media screen and (max-width:991px) {
    .advantages-item {
        border-color: transparent;
        border: none;
        max-width: 100%;
    }
    .advantages-item:nth-child(2n) {
        background-color: transparent;
    }
    .advantages-block {
        justify-content: center;
    }   
}
@media screen and (max-width:568px) {
    .advantages-block {
        justify-content: center;
    }   
}
.advantages-item-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.45;
    font-weight: 700;
}
.advantages-item-head img {
    margin-right: 25px;
}
.advantages-item-content {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 300;
}
.specials {
    background-color: #F8F9F4;
    background-image: url('../img/back5.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right -340px top 0;
}
.specials-block {
    margin-top: 40px;
}
.specials-item {
    margin-bottom: 30px;
}
.specials-item:nth-child(4) {
    margin-top: 10px;
}
.red {
    color: #ff3333;
}
.p-high {
    font-size: 28px;
    line-height: 1.45;
    font-weight: 700;
}
.p-medium {
    color: #000000;
    font-size: 18px;
    line-height: 1.65;
    font-weight: 400;
}
.specials-item._border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #ff3333;
    border-radius: 25px;
    padding: 20px 40px;
}
.specials-item._border p:not(.p-medium) {
    font-size: 22px;
    line-height: 1.3;
    font-weight: 600;
}
.specials-item._center p:not(.p-medium) {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 700;
}
.send-form{}
.send-form input {
    color: #262626;
    border: 1px solid #9e9e9e;
    background-color: transparent;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    font-size: 18px;
    font-weight: 400;
    width: 275px;
    height: 75px;
    padding: 0 25px;
    margin-right: 10px;
}
@media screen and (max-width:991px) {
    .send-form input {
        margin-bottom: 10px;
    }
}
.send-form button {
    color: #fff;
    background-color: #ff3333;
    border-radius: 200px;
    border: none;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    font-weight: 400;
    font-size: 18px;
    width: 280px;
    height: 75px;
    padding: 0 15px;
}
.prices {
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    position: relative;
    height: 640px;
}
@media screen and (max-width: 1216px) {
    .prices {
        display: none;
    }
}
.prices h2,
.form-backcall h2 {
    color: #ffffff;
}
.prices #etazhu {
    position: absolute;
    width: 460px;
    height: 480px;
    top: 95px;
    right: 270px;
}
#etazhu .cls-1 {
    fill: #e83c3c;
    opacity: 0.8;
    isolation: isolate;
    transition: opacity 0.3s;
    opacity: 0;
}
#etazhu .cls-1:hover {
    opacity: 0.8;
    cursor: pointer;
}
.prices-item._arrow {
    position: absolute;
    top: 330px;
    right: 765px;
    color: #ffffff;
    display: flex;
}
.prices-item._arrow img {
    transform: rotate(45deg);
    margin: 20px 0 0 15px;
}
.prices-item:nth-child(1) {
    margin-top: 30px;
}
.prices-item .click {
    display: flex;
    align-items: flex-start;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 300;
}
.prices-item .click img {
    margin-right: 20px;
}
.etazh__popup{
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 200px;
    background-color: #ff3333;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    padding: 13px 24px;
    right: 760px;
    top: 10%;
    z-index: 999;
    opacity: 0;
}
.etazh__popup-left{
    color: #ffffff;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    width: 50px;
    text-align: center;
    margin-right: 20px;
}
.etazh__popup-right b{
    color: #ffffff;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 600!important;
    display: block;
}
.etazh__popup-right span{
    color: #ffffff;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 300;
}
.form-backcall {
    background-color: #262626;
}
.form-backcall .row {
    margin-top: 50px;
}
.gallery {}
.gallery a {
    display: flex;
    align-items: center;
    color: #ff3333;
    line-height: 1.55;
    font-weight: 400;
}
.gallery a img.eye {
    margin: -5px 0 0 15px;

}
.gallery-block {
    justify-content: space-between;
    margin: 60px 0 0;
    padding: 0 10px;
}
.gallery-item {
    margin-bottom: 15px;
    cursor: zoom-in;
}
.gallery-item img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.information-block {
    justify-content: space-between;
    margin-top: 60px;
}
.information-item {}
.information-item > img {
    max-width: 100%;
    height: auto;
    margin-bottom: 45px;
}
.information-item:first-of-type p {
    color: #262626;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 30px;
}
.information-item:last-of-type p {
    color: #262626;
    font-size: 26px;
    line-height: 1.6;
    font-weight: 600;
    margin-bottom: 25px;
}
.projects-item {

}
.information-item .projects-item img {
    max-width: 200px;
    height: auto;
    margin-bottom: 15px;
}
.information-item .projects-item a p{
    color: #262626;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
}
.pay-block {
    margin-top: 60px;
    justify-content: space-between;
}
.pay-item {
    padding: 30px 30px 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
    max-width: 360px;
}
.pay-item img {
    margin-bottom: 20px;
}
.pay-item p:first-of-type {
    color: #262626;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.pay-item p:last-of-type {
    color: #262626;
    font-size: 16px;
    font-weight: 400;
}
@media screen and (max-width:768px) {
    .pay-item {
        max-width: 100%;
        margin-bottom: 15px;
    }
}
#sale {
    background-color: #ff3333;
    padding: 50px 0;
    background-image: url(../img/photo-3-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.sale-item_1 p {
    color: #ffffff;
    font-size: 34px;
    line-height: 1.3;
    font-weight: 300;
    margin-bottom: 50px;
}
.sale-item_1 p span {
    font-weight: 600;
}
.sale-item_2 p:first-of-type {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 15px;
}
.sale-item_2 p:last-of-type {
    color: #ffffff;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 600;
}
.sale-item_3 button {
    width: 300px;
    height: 84px;
    color: #ff3333;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 600;
    border-width: 1px;
    border-radius: 200px;
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.sale-item_3 button:hover {
    background-color: #ffd1d1;
}
@media screen and (max-width:768px) {
    .sale-item_3 button {
        margin-top: 20px;
    }
}
.documents {
    background-color: #F2F2F2;
}
.documents-block {
    margin-top: 60px;
    justify-content: space-between;
}
.documents-item {
    overflow: hidden;
}
.documents-item img {
    max-width: 260px;
    height: auto;
    cursor: pointer;
    transition: .5s;
}
.documents-item img:hover {
    transform: scale(1.1);
}
@media screen and (max-width:991px) {
    .documents-item {
        margin-bottom: 15px;
    }
}
.contacts {}
.contacts .map {
    padding-right: 0;
}
@media screen and (max-width:768px) {
    .contacts .map {
        height: 300px;
        padding-left: 0;
    }
    .contacts .map iframe {
        /* max-width: 320px; */
    }
    .contacts > .row {
        margin: 0;
    }   
}
.contacts .map-info {
    background-color: #262626;
    padding: 90px;
}
.contacts .map-info h2 {
    color: #ffffff;
    margin-bottom: 60px;
}
.map-info .info-item {
    margin-bottom: 40px;
}
.map-info .info-item p {
    color: rgb(164, 164, 164);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}
.map-info .info-item a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
section.contacts {
    padding: 0;
}
.questions .form {
    margin-top: 50px;
}
.questions .send-form input {
    background-color: #f0f0f0;
    border: none;
}
.footer {}
.footer .logo_img {
    width: 224px;
    height: 42px;
}
.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
@media screen and (max-width:768px) {
    .footer-block {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
    }
    .footer-block:last-of-type {
        margin-bottom: 35px;
    }
    .footer-block a,
    .footer-block p,
    .footer-block img {
        margin-bottom: 15px;
    }
}
.footer-block a,
.footer-block p {
    color: #262626;
    font-size: 20px;
    line-height: 1.25;
    font-weight: 400;
}
.footer-block p {
    font-size: 18px;
}
.footer .policy {
    font-size: 16px;
    opacity: 0.5;
}
.footer .partner {
    color: #ff3333;
    font-size: 20px;
    font-weight: 600;
}
.plan {
    position: relative;
}
.plan .navigation {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 3;
}
.plan .navigation .prev,
.plan .navigation .next {
    width: 50px;
    height: 50px;
    background-color: rgba(245,245,245,1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .7s;
}
.plan .navigation .btn-prev,
.plan .navigation .btn-next {
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: black;
    width: 100%;
    height: 100%;
    transition: .7;
}
.plan .navigation .prev:hover,
.plan .navigation .next:hover {
    background-color: #ff3333;
}
.plan .navigation .btn-prev:hover,
.plan .navigation .btn-next:hover {
        color: #ffffff;
}
.plan .slider-block .owl-stage-outer {
    overflow: hidden;
}
.plan .slider-block .owl-stage {
    display: flex;
    align-items: center;
    justify-content: center;
}
.plan .slider-item_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0;
}
.plan .slider-item_left p {
    color: #262626;
    font-size: 18px;
    line-height: 2;
    font-weight: 400;
    padding-bottom: 10px;
}
.plan .slider-item_left .type {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}
.plan .slider-item_left button {
    width: 296px;
    height: 60px;
    margin-top: 30px;
}
.plan .slider-item_right img {
    max-width: 100%;
    height: auto;
}
.modal {}
.modal-body {
    padding: 30px 50px;
    text-align: center;
}
.modal-body h2 {
    color: #212121;
    font-size: 38px;
    font-weight: 800;
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: normal;
}
.modal-body p {
    color: #383838;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 10px 0 20px;
}
.modal-form input[type=text] {
    color: #262626;
    background-color: #f2f2f2;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    margin: 0 0 15px 0;
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.33;
    width: 100%;
    border: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
}
.modal-form button {
    color: #ffffff;
    background-color: #ff3333;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    font-weight: 500;
    width: 100%;
    height: 54px;
    -webkit-appearance: none;
}
.modal .close {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;
}
.modal .close:hover {
    opacity: .75;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 560px;
    }
    .modal-body h2 {
        white-space: nowrap;
    }
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 560px;
    }
    .modal-body h2 {
        white-space: nowrap;
    }
}
@media screen and (max-width:580px) {
    /* .logo-text,
    .main-title,
    .first-block-buttons, */
    section.about_block h2,
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .logo {
        padding-left: 0;
    }
    .first-block {
        text-align: center;
    }
    .first-block-buttons {
        margin: 0 auto;
    }
    .main-title p:first-of-type {
        flex-direction: column;
    }
}

